<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Contribution Widget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="calendar-container">
        <div class="calendar">
            {% for column in calendar %}
                <div class="column">
                    {% for day in column %}
                        <div class="day" style="background-color: {{ day.color }}">  </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
